doctype html

html
  head
    title= title
    
    meta(charset="utf-8")
    meta(description content="Real time interactive stock market chart | by Michael Sharp")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    
    //CDNs -----------------------------------------------
    link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
    
    //Locals ------------------------------------------------
    link(rel="stylesheet", href="/stylesheets/style.css")

    body
      #top
        h2#main-title The Stockade
        span#main-subtitle A dynamic US stock trend watcher.
      #main
      
      p.footer
        | Source code can be found #[a(href="https://github.com/masharp/the-stockade-fcc", target="_blank") here]
        br
        | Created by #[a(href="http://www.softwareontheshore.com", target="_blank") Software on the Shore] for 
        | #[a(href="http://www.freecodecamp.com", target="_blank") FreeCodeCamp].

    script(src="/javascripts/global.js")
