$primary-color: white;
$secondary-color: #003044;
$tertiary-color: white;

$graph-font: "";
$title-font: 'Amatic SC', cursive;

body, html {
  font-family: $title-font;
  background-color: $secondary-color;
  color: $primary-color;
  font-size: 20px;
}

#top {
  width: 100%;
  text-align: center;

  #main-title {
    font-size: 3em;
    font-family: $title-font;
    margin-bottom: 0;
    margin-top: 0;
  }
  #main-subtitle {
    font-size: 1.2em;
  }
}
#loader {
  width: 100%;

  #main {
    #line-chart {
      padding: .5em;
      border: .05em solid white;
    }
  }
}

/* FOOTER */
.footer {
  margin-top: 3em;
  text-align: center;
}
a {
  text-decoration: none;
  color: darken($tertiary-color, 40);

  &:hover {
    text-decoration: underline;
  }
}
.hidden {
  display: none;
}
