$primary-color: white;
$secondary-color: #003044;
$tertiary-color: white;

$graph-font: "";
$title-font: 'Montserrat', sans-serif;

body, html {
  font-family: $title-font;
  background-color: $secondary-color;
  color: $primary-color;
  font-size: 15px;
}

#top {
  width: 100%;
  text-align: center;
  margin-bottom: .5em;

  #main-title {
    font-size: 3em;
    font-family: $title-font;
    margin-bottom: 0;
    margin-top: 0;
  }
  #main-subtitle {
    font-size: 1.2em;
  }
}
#main {
  width: 100%;
  #main-component {
    #line-chart {
      font-size: .8em;
      padding: 2.3em;
      margin: .5em;
    }
    #error {
      color: red;
      text-align: center;
      padding: 1em;
    }
    #stockade {
      text-align: center;

      .stock-card {
        display: inline-block;
        margin: 1em;
        width: 10em;
        padding: 1em 2em 1em 2em;
        border: 1px solid #000;
        &:hover { box-shadow: 2px 2px 1px #000; }

        .stock-remove {
          color: red;
          font-style: normal;
          float: right;
          margin-bottom: 1em;
          &:hover { cursor: pointer; font-weight: bold; }
        }
        #new-symbol-input {
          width: 8em;
          font-size: 1.1em;
          text-transform: uppercase;
        }
        #new-symbol-btn {
          border: none;
          background-color: white;
          font-size: 1.1em;
          padding: .5em 1.1em .5em 1em;
          font-weight: bold;
          color: $secondary-color;
          &:hover { cursor: pointer; }
        }
        .stock-card-symbol, #new-symbol-btn, #new-symbol-input {
          margin-top: 1em;
        }
      }
    }
  }
}

/* FOOTER */
.footer {
  margin-top: 3em;
  text-align: center;
}
a {
  text-decoration: none;
  color: darken($tertiary-color, 40);

  &:hover {
    text-decoration: underline;
  }
}
.hidden {
  display: none;
}
